<%include ../../header %>

<!-- Side Menu -->
<%include sidemenu %>
<!-- /Side Menu -->
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<div><%= message %></div><br>

<form method="post" action="/user/auth">
    Email: <input type="text" name="email"> <br>
    Password:  <input type="password" name="password"> <br>
    <button>Login</button>
</form>

<%include ../../footer %>