<footer>
<<<<<<< HEAD
</footer>
<script src="/javascripts/sidemenu.js"></script>
<script src="/javascripts/hierarchy.js"></script>
<script src ='/socket.io/socket.io.js'></script>
=======
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <ul class="list-inline">
                    <li><a href="#" onclick="
                             window.open(
                                 'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
                                 'facebook-share-dialog','width=626,height=436');
                                  return false;"><i class="fa fa-facebook fa-3x"></i>
                         </a>
                    </li>
                    <li><i class="fa fa-twitter fa-3x"></i></li>
                    <li><i class="fa fa-dribbble fa-3x"></i></li>
                </ul>
                <hr>
                <p>Copyright &copy; 3Dwe 2013</p>
            </div>
        </div>
    </div>
</footer>
<script src="/javascripts/sidemenu.js"></script>
>>>>>>> wei_account_database

</body>
</html>