<!-- body -->
<div id="top" class="header">
    <div class="vert-text">
        <h1>Umass 3Dwe</h1>
        <h3><em>3D</em> Interactive File Storage, <em>You</em> been Waiting for </h3>
        <!-- login button -->
        <div onclick="location.href = '/login';"class="button gray"><div class="shine"></div>LOGIN</div>
    </div>
</div>