<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/sidemenu.css">
    <link rel='stylesheet' href='/stylesheets/style.css'>

    <script type="text/javascript" src="libs/jquery-1.10.2.min.js"></script>
    <script src="/libs/bootstrap.min.js"></script>

    <script type="text/javascript" src="libs/three.min.js"></script>
    <script type="text/javascript" src="libs/stats.min.js"></script>
    <script type="text/javascript" src="libs/microcache.js"></script>
    <script type="text/javascript" src="libs/FirstPersonControls.js"></script>
    <script type="text/javascript" src="libs/threex.transparency.js"></script>
    <script type="text/javascript" src="libs/threex.windowresize.js"></script>
    <script type="text/javascript" src="libs/threex.rendererstats.js"></script>

    <script type="text/javascript" src="javascripts/bookScene.js"></script>
    <script type="text/javascript" src="libs/pdf.js"></script>
    <script type="text/javascript" src="libs/pdf.worker.js"></script>

    <script type="text/javascript" src="javascripts/emptyScene.js"></script>
    <script type="text/javascript" src="javascripts/sampleScene.js"></script>
    <script type="text/javascript" src="javascripts/roomScene.js"></script>
    <script type="text/javascript" src="javascripts/jukeBoxScene.js"></script>
    <script type="text/javascript" src="javascripts/TVScene.js"></script>
    <script type="text/javascript" src="javascripts/webgl_core.js"></script>

</head>
<body>