<%include header %>

<!-- Side Menu -->

<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="glyphicon glyphicon-user"></i></a>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="glyphicon glyphicon-user"></i></a>
        <li class="sidebar-brand"><a href="">3Dwe</a></li>
        <li><a href="#top">Home</a></li>
        <li><a href="#login">Log In</a></li>
        <li><a href="#register">Register</a></li>
        <li><a href="#call-to-action">About</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
<!-- /Side Menu -->

<!-- Full Page Image Header Area -->
<div id="top" class="header">
    <div class="vert-text">
        <h1>Umass 3Dwe</h1>
        <h3><em>3D</em> Interactive File Storage, <em>You</em> been Waiting for </h3>
        <a href="#services" class="btn btn-default btn-lg">Find Out more About 3Dwe</a>
    </div>
</div>
<!-- /Full Page Image Header Area -->

<!-- Services -->
<div id="services" class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center">
                <h2>We use WebGL to Provide Virtual File Storage for the Following Services</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-1 text-center">
                <div class="service-item">
                    <i class="fa fa-book fa-4x"></i>
                    <h4>Bookshelf</h4>
                    <p>A bookshelf that allows you to store as many pdf files as you wants! You can carry and read book anytime you want!</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="fa fa-music fa-4x"></i>
                    <h4>Jukebox</h4>
                    <p>A virtual Jukebox let you carry around and listen to live musics/audio files and download them anytime!</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="fa fa-film fa-4x"></i>
                    <h4>TV</h4>
                    <p>Want to store, down, and stream your videos?  Streaming videos have never been so easy</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="fa fa-picture-o fa-4x"></i>
                    <h4>Photo Album</h4>
                    <p>Save your memories and view them anytime, you can share to your great-great-great-...-grandson even after decades, if you are still alive!</p>
                </div>
            </div>
            <div class="col-md-2 text-center">
                <div class="service-item">
                    <i class="fa fa-usd fa-4x"></i>
                    <h4>Free</h4>
                    <p>That's right!  3Dwe is free, what are you waiting for! SIGN UP NOW!</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- /Services -->

<!-- Callout -->
<div id="login" class ="callout">
       <div class="vert-text">
             <h1>Log In</h1>
       </div>
</div>
<!-- /Callout -->

<!-- Login -->
<div class="login">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>Put login form here</h2>
                <p class="lead">User name and password and stuff</p>
            </div>
        </div>
    </div>
</div>
<!-- /Login -->

<div id="register" class ="callout2">
    <div class="vert-text">
        <h1>Registration</h1>
    </div>
</div>

<!-- Registration Page -->
<div class="register">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h2>Put sign up stuff here</h2>
                <p class="lead">Email, first name, last name, password, and confirm,and stuff</p>
            </div>
        </div>
    </div>
</div>
<!-- /Registration -->

<!-- Call to Action -->
<div id = 'about' class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h3>The buttons below are impossible to resist.</h3>
                <a href="#top" class="btn btn-lg btn-default">Click Me!</a>
                <a href="#top" class="btn btn-lg btn-primary">Look at Me!</a>
            </div>
        </div>
    </div>
</div>
<!-- /Call to Action -->

<% include footer%>