<%include header%>

<!-- Side Menu -->
<%include sidemenu %>
<!-- /Side Menu -->

    <div id="viewer"></div>

<!--<div id="test_audio">-->
 <!--<audio controls id="audio">-->
     <!--<source id="change_audio" src="/home/Jukebox/06. Thunderstruck.mp3" type="audio/mpeg">-->
     <!--<embed height="50" width="100" src="">-->
 <!--</audio>-->
<!--</div>-->

<div id="breadcrumb">
    <ul class="crumbs" id = "hierarchy">
        <li class="h_node" id = "/home"><a href="#" style="z-index:9;"><i class="glyphicon glyphicon-home"></i></a></li>
    </ul>
    <div class = 'custom-menu' hidden = 'true'>Delete</div>
</div>

<%include footer%>

</body>