<!--Made by Wei Lin-->
<a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="glyphicon glyphicon-user"></i></a>
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="glyphicon glyphicon-user"></i></a>
        <li class="sidebar-brand"><%= fname%> <%= lname%></li>  <!--this outputs fname and lname from server to the sidemenu -->
        <div id="test_audio">
            <audio controls id="audio">
                <source src="" type="audio/mpeg">
                <embed height="50" width="100" src="">
            </audio>
        </div>
        <li><a class="create_directory" href="#">Create Directory</a></li>
        
        <form id="uploadForm"
          enctype="multipart/form-data"
          action="/uploadHandler"
          method="post">
         <input type="file" id="userFileInput" name="userFile" />
        </form>
        
        <li id = "directory_name">

            <form id = "file_form" align = "center"> <!-- action = "/create" method = "post" align="center"> -->
                <fieldset >
                    <legend>Directory Name</legend>
                    <input type="text" id="file_input" placeholder="enter filename">
                    <button type="submit" class="btn" id="createDir">Submit</button>
                </fieldset>
            </form>
            <div id="message" align ="center" hidden = true></div>
            <div id="folder_contents"></div>
            <div id="delete_div" align = "center">
                <li><a class="delete_dir" href="#">Delete Directory</a></li>
            </div>
        </li>
    </ul>
</div>