<div id = "TV_options">
    <table>
        <tr>
            <td><img src="../public/images/skipback.jpg"></td>
            <td><img src="../public/images/rewind.jpg"></td>
            <td><img src="../public/images/pause.jpg"></td>
            <td><img src="../public/images/play.jpg"></td>
            <td><img src="../public/images/stop.jpg"></td>
            <td><img src="../public/images/fastforward.jpg"></td>
            <td><img src="../public/images/skipforward.jpg"></td>
            <td><img src="../public/images/record.jpg"></td>
            <td><img src="../public/img/eject.png"></td>
        </tr>
    </table>
</div>