<div id = "TV_options">
            <button class="TV_button" id = "TV_rewind"><img src="../images/rewind.jpg"></button>
            <button class="TV_button" id = "TV_pause"><img src="../images/pause.jpg"></button>
            <button class="TV_button" id = "TV_play"><img src="../images/play.jpg"></button>
            <button class="TV_button" id = "TV_stop"><img src="../images/stop.jpg"></button>
            <button class="TV_button" id = "TV_fastforward"><img src="../images/fastforward.jpg"></button>
            <button class="TV_button" id = "TV_record"><img src="../images/record.jpg"></button>
</div>