<div id = "TV_options">
    <table>
        <tr>
            <td><img src="../images/skipback.jpg"></td>
            <td><img src="../images/rewind.jpg"></td>
            <td><img src="../images/pause.jpg"></td>
            <td><img src="../images/play.jpg"></td>
            <td><img src="../images/stop.jpg"></td>
            <td><img src="../images/fastforward.jpg"></td>
            <td><img src="../images/skipforward.jpg"></td>
            <td><img src="../images/record.jpg"></td>
            <td><img src="../img/eject.png"></td>
        </tr>
    </table>
</div>